    /* RWD und Grid-Layout */
.grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
  
.grid-item {
        background-color: #e0e0e0;
        padding: 20px;
      }
  
      
@media (max-width: 768px) {
.grid-container {
     grid-template-columns: 1fr;   /*Media Query ändert das Rasterlayout für Bildschirmbreiten von maximal 768px*/
     }
  
.grid-item {
      padding: 10px;
}
    }
  
@media (max-width: 480px) {
    grid-item {                      /*Media Query ändert das Rasterlayout für Bildschirmbreiten von maximal 480px*/
     font-size: 14px;
}
 }