body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: blue;
}

.form-group label {
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.btn-primary {
    display: block;
    margin: 0 auto;
    width: 175px;
}

#result {
    margin-top: 20px;
    text-align: center;
    color: blue;
}

.alert {
    margin-bottom: 10px;
}

.form-control {
    transition: width 0.8s, height 0.8s;
}

.form-control:hover {
    width: 200px;
    height: 50px;
}

