body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 20px;
  }
  
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
  }
  
h2 {
    color: #555;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
p {
    margin: 0 0 10px;
  }
  
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
.button:hover {
    background-color: #0056b3;
  }
  
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('network-hintergrund.jpg');
    background-size: cover;
    opacity: 0.3;
  }
  
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
.divider {
    border-top: 1px solid #ddd;
    margin: 20px 0;
  }
  
.terms {
    margin-top: 20px;
  }