p{
    font-family: 'Pacifico', cursive; /* Die Schriftart wird geändert! */
}



body {
background-color: rgb(211, 206, 206); /* Hintergrundfarbe wird geändert! */

}


img {
display: block;
margin-left: auto;
margin-right: auto;    /* Die Position vom Bild wird geändert! */
}

#myHeader{
color: rgb(46, 30, 10); 
text-align: center;                      /* Die Farbe und die Position von der Überschrift wird geändert! */
}


.image-container{
    background-color: rgb(255, 255, 255);
    padding: 15px;                 /* Die Farbe und die Position vom Rahmen wird eingestellt! */
}



.position{
display: flex;
justify-content: center;     /* Die Position von den Links wird geändert! */
}

* {
  box-sizing: border-box;
}


.mitte {
display: flex;
justify-content: center;
}


/* Einstellungen Überschrift */
header {
    background-color: #ff0101;
    padding: 30px;
    text-align: center;
    font-size: 35px;                                  
    color: rgb(0, 0, 0);
  }   
  
header2 {
      font-size: 28px;  
  }
  
/* Erstellen von zwei Kästchen, die nebeneinander sind! */
nav {
    float: left;
    width: 30%;
    height: 300px;
    background: #b68d8d;
    padding: 20px;
  }
  
/* Listengestaltung */
nav ul {
    list-style-type: none;
    padding: 0;
  }

/* Die Schrift von der ersten Zusammenfassung (Österreich) ändern! */
p2{
      font-family: 'Fredoka One', cursive;
}
  
article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #ffffff;
    height: 300px; 
  }
  
  
/* Fußzeile gestalten! */
footer {
    background-color: #ff0000;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
/* Lässt die Spalten/Kästchen auf kleinen Bildschirmen übereinander anstatt nebeneinander stapeln! */
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }


}
.testcss {border-style: dotted; background-image: linear-gradient(to left,blue, green); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.floattest{float: left; background: #ff0000;}

.nav{background-color: aqua; word-spacing: 40px;}
  
  